.page {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #211d1d;
    display: flex;
    flex-direction: row;
    height: 100%;
    &__navigation {
        width: 300px;
        display: flex;
        background: rgba(10, 10, 10, 0.9);
        flex-direction: column;
        justify-content: center;
        &__controls {
            height: 400px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        &__button {
            color: #e0e0e0;
            border: 0;
            padding: 20px;
            font-size: 20px;
            font-family: 'Raleway', sans-serif;
            border-radius: 50%;
            background: rgba(#56146f, 1); // color:
            &:hover {
                background: rgba(#56146f, .8); // color:           
            }
        }
        .group {
            background: #0f8f54;
            &:hover {
                background: rgba(#0f8f54, .8); // color:           
            }
        }
        &__icon {
            font-size: 120px;
        }
    }
    &__content {
        width: 90%;
        margin: 20px 5%;
        box-sizing: border-box;
    }
}