<div class="page">
    <div class="page__navigetion">
        <div class="page__navigetion__div">
            <button class="page__navigetion__button" routerLink="/users">
                <i class="material-icons page__navigetion__icon">person</i>
            </button>
            <button class="page__navigetion__button" routerLink="/groups">
                <i class="material-icons page__navigetion__icon">group</i>
            </button>
        </div>
    </div>
    <div class="page__content">
        <router-outlet></router-outlet>
    </div>
</div>