<div class="page">
    <div class="page__navigation">
        <div class="page__navigation__controls">
            <button class="page__navigation__button" routerLink="/users">
                <i class="material-icons page__navigation__icon">person</i>
            </button>
            <button class="page__navigation__button" routerLink="/groups">
                <i class="material-icons page__navigation__icon">group</i>
            </button>
        </div>
    </div>
    <div class="page__content">
        <router-outlet></router-outlet>
    </div>
</div>