<div class="user">
    <div class="user__action">
        <p class="user__title">Groups list</p>
        <div class="user__input-block">
            <input class="user__input" [(ngModel)]="search" (ngModelChange)="searchAction()" placeholder="Search by name" />
            <button class="user__button" (click)="dialogToggle()">
            Add
        </button>
        </div>
    </div>
    <div *ngIf="listGroups.length > 0;else noContent">
        <div class="user__list">
            <div class="user__list__item" *ngFor="let item of listGroups">
                <a routerLink="/group/{{item.id}}">{{item.name}}</a>
                <i class="material-icons user__list__delete" (click)="delete(item.id)">close</i>
            </div>
        </div>
    </div>
    <ng-template #noContent><p class="user__list no-content">List is empty ...</p></ng-template>
    <app-group-dialog *ngIf="dialog" (onSubmit)="onSend($event)" (toggle)="dialogToggle($event)">
    </app-group-dialog>
</div>