<div class="full-layout" (click)="toggle.emit()"></div>
<div class="auth">
    <p class="auth__title">Create group</p>
    <form  class="auth__form" (ngSubmit)="onSubmit.emit(name.value)">
        <div class="auth__input-block">
            <p>Input name</p>
            <input class="auth__input form-control" [formControl]="name" required minlength="4"/>
        </div>
        <button class="auth__submit" type="submit" [disabled]="!name.valid" [ngClass]="{ 'disabled': !name.valid}">
            ADD
        </button>
    </form>
</div>