<div class="list">
    <div class="list__action">
        <p class="list__title">Groups list</p>
        <div class="list__input-block">
            <input class="list__input" [(ngModel)]="search" (ngModelChange)="searchAction()" placeholder="Search by name" />
            <button class="list__button" (click)="dialogToggle()">
            Add
        </button>
        </div>
    </div>
    <div class="overflow" *ngIf="listGroups.length > 0 || !loaded;else noContent">
        <div class="list__table">
            <div class="list__table__item" *ngFor="let item of listGroups">
                <a routerLink="/group/{{item.id}}">{{item.name}}</a>
                <i class="material-icons list__table__delete" (click)="delete(item.id)">close</i>
            </div>
        </div>
    </div>
    <ng-template #noContent><p class="list__table no-content">Groups list is empty ...</p></ng-template>
    <app-group-dialog *ngIf="dialog" (onSubmit)="onSend($event)" (toggle)="dialogToggle($event)">
    </app-group-dialog>
</div>