<div>
    <div class="info">    
        <p class="info__title">User profile</p>
        <div class="info__property">
            <p class="info__field">Name:</p>
            <input class="info__input" [formControl]="name" value={{user?.name}} required />
        </div>
        <div class="info__property">
            <p class="info__field">Surname:</p>
            <input class="info__input" [formControl]="surname" value={{user?.surname}} required />
        </div>
        <div class="info__property">
            <p class="info__field">Email:</p>
            <input class="info__input" [formControl]="email" value={{user?.email}} required email />
        </div>
        <div class="info__property">
            <p class="info__field">Phone:</p>
            <input class="info__input" [formControl]="phone" value={{user?.phone}} required pattern="[+][0-9]{9,}" />
        </div>
        <button
            (click)="edit({name: name, surname: surname, email: email, phone: phone})"
            class="list__button"
        >
            EDIT
        </button>
        <p *ngIf="response" class="info__response">{{response}}</p>
    </div>
</div>